.rotating-text-list-container {
    display: flex;
    flex-direction: column;
  }
  
  .rotating-text-list-container div {
    transition: opacity 0.3s ease-in; /* Adjust the transition duration and easing as needed */
  }
  
  .rotating-text-list-container.transitioning div {
    opacity: 0; /* Set opacity to 0 during transition */
  }
  
  .textcarosel{
    margin-left: 10%;
    margin-top: 5%;
    width: 40%;
  }